table(class=['table-striped', 'table'])
  thead
    tr
      each header in result.headers
        th
          a(href=result.querybase + '/histogram/' + header)= header
    if query_page
      tr
        each header in result.headers
          th
            input(type='text', name='filter_' + header, id='filter_' + header, value=filters[header]).table-filter
  tbody
    if result.res
      each entry in result.res
        tr
          each field in entry
            td= field
    else
      tr
        td(colspan="#{headers.length}") no results
