extends layout

block content
  h1= title
  p Welcome to #{title}
  ul
    if res.length > 0
      each val in res
        li
          a(href='/q/' + val.name)= val.name
    else
      p No queries setup yet
  p
    | You can 
    a(href="/add") Add
    |  a query
