extends layout

block content
  h1= title
  p Welcome to #{title}
  ul
    if res.length > 0
      link(rel='stylesheet', href='/stylesheets/typeahead.js-bootstrap.css')
      script(src='/javascripts/typeahead.js')
      div
      table(class=['table-striped', 'table-bordered', 'table', 'sortable'])
        thead
          tr
            th(width='70%') Query
              input(id='search', type='text').form-control
            th Views
        tbody
          each val in res
            tr
              td
                a(href='/q/' + val.name)= val.name
              td
                a(href='/q/' + val.name + '/distinct') Distinct Values
    else
      p No queries setup yet, try to 
        a(href='/manage/add') add some
 
  script
    | $('#search').typeahead({name: 'queries', prefetch: {url: '/queries', ttl: 60*60}})
    | $('#search').on('typeahead:selected', function (object, datum) { window.location.href = datum.href })
