extends layout

block content
  h1= title
  p Welcome to #{title}
  ul
    if res.length > 0
      table(class=['table-striped', 'table-bordered', 'table', 'sortable'])
        thead
          tr
            th(width='70%') Query
            th Views
        tbody
          each val in res
            tr
              td
                a(href='/q/' + val.name)= val.name
              td
                a(href='/q/' + val.name + '/distinct') Distinct Values
    else
      p No queries setup yet
  p
    | You can 
    a(href="/add", id='add') Add
    |  a query
