extends layout

block content
  h1= Tables
  p Available Tables

  table(class=['table-striped', 'table-bordered', 'table', 'sortable'])
    thead
      tr
        td Database
        td(width='70%') Tables
    tbody
      each res in data
        tr
          td= res.name
          td
            table
              each tableName in res.tables
                tr
                  td
                    a(href='/table/' + res.name + '/' + tableName)= tableName
