extends layout

block content
  h1= Tables
  p Available Tables

  table(class=['table-striped', 'table-bordered', 'table', 'sortable'])
    thead
      tr
        th Database
        th(width='70%') Table
        th Table Views
    tbody
      each res in data
        tr
          th(colspan="3")= res.name
        each tableName in res.tables
          tr
            td
            td
              a(href='/table/' + res.name + '/' + tableName)= tableName
            td
              a(href='/table/' + res.name + '/' + tableName + '/distinct') distinct
